{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the Home page</h1>
                <p>Bacon ipsum dolor amet sirloin jowl corned beef, tri-tip cupim picanha salami ground round frankfurter biltong boudin filet mignon chislic turkey t-bone. Turkey filet mignon spare ribs strip steak, turducken fatback pork prosciutto meatloaf pork chop jowl pig biltong short ribs. Biltong kevin brisket rump, jowl tri-tip swine drumstick alcatra turducken ball tip filet mignon boudin burgdoggen. Brisket jowl turkey, strip steak shankle pastrami salami tenderloin chislic. Corned beef ground round filet mignon, andouille spare ribs prosciutto ball tip sausage capicola pancetta sirloin.</p>
            </div>
        </div>
    </div>
{{end}}